# ==============================================================================
# SIMKOPDES Environment Variables Template (.env.example)
# Salin berkas ini menjadi '.env' di komputer lokal Anda dan isi nilai kuncinya.
# ==============================================================================

# Kredensial Cloudflare R2 Remote Storage (DVC S3 Protocol)
AWS_ACCESS_KEY_ID=your_cloudflare_r2_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_cloudflare_r2_secret_access_key_here

# Konfigurasi Opsional DVC Remote
# CLOUDFLARE_ACCOUNT_ID=your_cloudflare_account_id_here
# DVC_REMOTE_BUCKET=s3://kopdes-dvc-bucket
